<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"  
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<context:property-placeholder location="classpath:spring/redis.properties" />  
  
  	<context:component-scan base-package="com.cooperay.**"/>
  
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">  
        <property name="maxIdle" value="${redis.maxIdle}" />  
        <!-- <property name="maxActive" value="${redis.maxActive}" />   -->
        <!-- <property name="maxWait" value="${redis.maxWait}" />   -->
        <property name="testOnBorrow" value="${redis.testOnBorrow}" /> 
    </bean>  
      
    <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"  
        p:host-name="${redis.host}" p:port="${redis.port}"   p:pool-config-ref="poolConfig"/>  
      
     <!-- pool 配置方法 -->
    <bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool">
    	<constructor-arg index="0" ref="poolConfig"/>
    	<constructor-arg index="1">
    		<list>
    			<bean class="redis.clients.jedis.JedisShardInfo">
    				<constructor-arg index="0" value="${redis.host}"/>
    				<constructor-arg index="1" value="${redis.port}"/>
    			</bean>
    		</list>
    	</constructor-arg>
    </bean>
    <!-- bean 属性为了指定序列化方式 -->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
    	 <property name="connectionFactory"   ref="connectionFactory" />  
    	<property name="keySerializer">
    	 	<bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
    	 </property>
    	 <property name="valueSerializer">
    	 	<bean class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>
    	 </property>
    	 <property name="hashKeySerializer">
    	 	<bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
    	 </property>
    	 <property name="hashValueSerializer">
    	 	<bean class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>
    	 </property> 
    </bean>
    
    <bean class="com.cooperay.redis.spring.CacheableAop">
    	<property name="manualEnable" value="true"/>  <!-- 禁用手动清除缓存@CacheFlush不可用  默认为true-->
    </bean>
    
   <!--  <bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">  
        <property name="connectionFactory"   ref="connectionFactory" />  
    </bean>  -->        

</beans>